.navbar__cart {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    margin-left: 9px;
    padding: 10px 20px;
    color: #393e46;
    cursor: pointer;
    border-radius: 8px;
    background-color: #EEEEEE;
    transition: all 500ms;
}

.navbar__cart:hover {
    background-color: #AAD8D3;
}

.navbar__cart-icon {
    margin-bottom: 5px;
    width: 20px;
    height:20px;
}

.navbar__cart-count {
    
    margin-left: 10px;
    font-size: 18px;
}