.card {
    height: 400px;
    width: 400px;
    text-align: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    border-radius:75px;
}

.img{
    width: 50%;
};

.detalle{
    color: black;
    text-decoration: none;
    background-color: lightgray;
    border-radius: 8px;
}